.navbar {
    background-color:rgba(59, 58, 57, 0.905);
}

body {
    background-image:url(img/background.png);
}

img {
    height: 105px;
    width: 105px;
}

p {
    font-family: Jacques Francois Shadow;
    color:whitesmoke;
    font-size: 20px;
}

h1 {
    font-family: Jacques Francois Shadow;
    color:whitesmoke;
}

form {
    align-items: center;
}


